<a href="https://colab.research.google.com/github/Jaleeza0625/Ever-Up-Data-Analytics-Micro-Credential-course/blob/main/Copy_of_Day_5_Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Pandas

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(42)

# Series

In [ ]:
labels = ['a', 'b','c', 'd']
my_data = [10, 20, 30, 40]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30, 'd':40}

In [ ]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [ ]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# Create a series of ten cities and years

# Data Frames

In [ ]:
data = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], 
                    ['W', 'X', 'Y', 'Z'])

In [ ]:
data

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [ ]:

df_1 = data['Y']

In [ ]:
df_1

A    0.647689
B    1.579213
C   -0.463418
D   -1.724918
E   -0.908024
Name: Y, dtype: float64

In [11]:
data

          W         X         Y         Z
A  0.496714 -0.138264  0.647689  1.523030
B -0.234153 -0.234137  1.579213  0.767435
C -0.469474  0.542560 -0.463418 -0.465730
D  0.241962 -1.913280 -1.724918 -0.562288
E -1.012831  0.314247 -0.908024 -1.412304

In [12]:
data['new'] = data['Y'] + data['W']

In [13]:
data

          W         X         Y         Z       new
A  0.496714 -0.138264  0.647689  1.523030  1.144403
B -0.234153 -0.234137  1.579213  0.767435  1.345059
C -0.469474  0.542560 -0.463418 -0.465730 -0.932892
D  0.241962 -1.913280 -1.724918 -0.562288 -1.482956
E -1.012831  0.314247 -0.908024 -1.412304 -1.920855

# Create a new colunm with the combination of 3 columns from our dataset

In [ ]:
# Create a new colunm with the combination of 3 columns from our dataset