<a href="https://colab.research.google.com/github/Jaleeza0625/Ever-Up-Data-Analytics-Micro-Credential-course/blob/main/lesson_4_and_lesson_6_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lesson 4 – Looping

In [74]:
Names = ['john', 'billy', 'jack', 'lisa', 'tina']

In [75]:
for J in Names:
  print(J)

john
billy
jack
lisa
tina

In [76]:
for J in Names:
  print( J.upper() + ' is my friend')

JOHN is my friend
BILLY is my friend
JACK is my friend
LISA is my friend
TINA is my friend

In [60]:
for x in range(1,21):
  if x%2 == 0:
    print(x)

2
4
6
8
10
12
14
16
18
20

In [77]:
Names.sort()
print(Names)

['billy', 'jack', 'john', 'lisa', 'tina']

In [15]:
for J in Names:
  print(J[0:3])

Joh
bil
jac
lis
tin

In [18]:
for J in Names:
  print(J[-2:])

hn
ly
ck
sa
na

#Lesson: Unit 2 – Python Dictionaries

In [48]:
person = {'First Name': 'john', 'Last Name': 'forman'}

In [49]:
print(person)

{'First Name': 'john', 'Last Name': 'forman'}

In [50]:
  person_name = person['First Name']+ person['Last Name']
  print("hello there, "+ person_name)

hello there, johnforman

In [55]:
d = {'key1':101,'key2':202}

In [59]:
print(person.keys())
print(person.values())
print(person.items())

dict_keys(['First Name', 'Last Name', 'DOB', 'color', 'Color'])
dict_values(['john', 'forman', '09101995', 'black', 'black'])
dict_items([('First Name', 'john'), ('Last Name', 'forman'), ('DOB', '09101995'), ('color', 'black'), ('Color', 'black')])

In [80]:
nested={'person': {'name': 'John', 'eye color':'brown', 'DOB':'09101995'},
        'children':{'number of kids': '1','gender': 'female', 'age': "1"},
        'pet' :{'number of pets':'1', 'type': 'cat', 'color': 'white'}}

In [81]:
for k,v in nested.items():
  print("This is the "+k+' data: ' +str(v))

This is the person data: {'name': 'John', 'eye color': 'brown', 'DOB': '09101995'}
This is the children data: {'number of kids': '1', 'gender': 'female', 'age': '1'}
This is the pet data: {'number of pets': '1', 'type': 'cat', 'color': 'white'}